 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 html {
 	font-size: 62.5%;
 }

 body {
 	font-size: 1.6rem;
 	font-family: "Poppins", sans-serif;
 	font-weight: 400;
 	background-color: #F7FAFC;
 	overflow-x: hidden;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
 	margin: 0;
 	padding: 0;
 }

 ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }

 ul li a,
 a {
 	text-decoration: none;
 }

 /*======================  Start Page  ======================*/

 .sidebar {
 	height: 100vh;
 	background-color: #ffffff;
 	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
 	overflow-y: auto;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	scrollbar-width: none;
 }

 .sidebar .nav-link {
 	color: #333;
 	font-weight: 500;
 }

 .main-content-area {
 	height: 100vh;
 	overflow-y: auto;
 	scrollbar-width: none;
 }

 .sidebar .nav-link:hover {
 	background-color: #e9ecef;
 }

 .sidebar .divider {
 	border-bottom: 1px solid #dee2e6;
 	margin: 20px 0;
 }

 .sidebar .submenu {
 	padding-left: 30px;
 }

 .card-custom {
 	border-radius: 12px;
 	background: #fff;
 	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
 }

 .score-card {
 	text-align: center;
 	padding: 20px;
 }

 .score-card h4 {
 	font-size: 1.5rem;
 	font-weight: 600;
 }

 .score-card small {
 	color: #888;
 }

 .sidebar .nav-link[aria-expanded="true"] {
 	color: #000 !important;
 }

 .nav-link.accordion-button {
 	font-size: 18px;
 	font-weight: 500;
 	color: #9197B3;
 	padding: 6px 20px !important;
 }

 .sidebar .nav-link.active,
 .sidebar .nav-link[aria-expanded="true"] {
 	background-color: #198754;
 	color: #fff;
 	padding: 11px 20px !important;
 }

 .sidebar-bottom {
 	background: #1a8e5f;
 	border-radius: 20px;
 	padding: 35px 27px;
 	margin: 20px 50px;
 }

 p {
 	font-size: 16px;
 	font-weight: 400;
 	line-height: 26px;
 }

 .btn-1 {
 	display: inline-block;
 	background: #fff;
 	border-radius: 30px;
 	padding: 10px 30px;
 	border: none;
 	font-weight: 500;
 	font-size: 16px;
 	transition: 0.3s;
 }

 .btn-1:hover {
 	opacity: 0.83;
 }

 .accordion-header {
 	padding: 8px 0;
 }

 button:focus {
 	outline: none;
 }


 .card-box {
 	border-radius: 10px;
 	padding: 20px;
 	background: white;
 	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
 	height: 100%;
 	box-sizing: border-box;
 }

 .info-box {
 	text-align: center;
 	background: #fff;
 	border-left: 4px solid #1a8e5f;
 }

 .info-box:hover {
 	box-shadow: 0 33px 55px 15px rgba(0, 0, 0, 0.05);
 }

 .info-box-icon {
 	font-size: 42px;
 	border-radius: 10px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 0 auto;
 	margin-bottom: 20px;
 	color: #1a8e5f;
 }

 .info-box h4 {
 	font-size: 36px;
 	margin-bottom: 5px;
 	font-weight: 700;
 	color: #1a8e5f;
 }

 .form-check-input:checked {
 	background-color: #1a8e5f;
 	border-color: #1a8e5f;
 }



 .info-box small {
 	font-size: 16px;
 	color: #000;
 }

 .section-title {
 	font-size: 20px;
 	font-weight: 600;
 	margin-bottom: 15px;
 }

 .card-mo-header h4 {
 	font-size: 20px;
 	font-weight: 600;
 	margin-bottom: 5px;
 }

 .form-select,
 .form-control {
 	border-radius: 8px;
 	padding: 12px 20px;
 	font-size: 18px;
 }

 .btn-custom {
 	border-radius: 8px;
 	padding: 12px 32px;
 	background-color: #1a8e5f;
 	color: white;
 	border: none;
 }

 .btn-custom:hover {
 	background-color: #156f4a;
 }

 .header-content h4 {
 	font-weight: 700;
 	font-size: 26px;
 }

 .top-header-area {
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 }

 .dropdown-toggle::after {
 	margin-left: 8px;
 }

 .profile-img {
 	width: 40px;
 	height: 40px;
 	object-fit: cover;
 	border-radius: 50%;
 }

 .user-name {
 	font-size: 18px;
 	color: #000;
 }

 .drop-menu-ul a {
 	padding: 12px 10px;
 	font-size: 18px;
 	display: flex;
 	align-items: center;
 	gap: 6px;
 }

 .drop-menu-ul {
 	width: 160px;
 	border: none;
 	box-shadow: 0 2px 10px #eee;
 }

 .form-check,
 .form-group {
 	margin-bottom: 12px;
 }

 .export-box button {
 	background: transparent;
 	padding: 12px 25px;
 	border-radius: 8px;
 	border: 1px solid #ddd;
 	display: flex;
 	justify-content: center;
 	gap: 8px;
 	transition: 0.3s;
 	align-items: center;
 }

 .export-box button:hover {
 	opacity: 0.83;
 }

 .overlay-menu {
 	position: absolute;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	left: 0;
 	background: rgba(0, 0, 0, 0.7);
 	display: none;
 	z-index: 9;
 }

 .sidebar-menu li a {
 	display: flex;
 	padding: 12px 20px;
 	font-size: 18px;
 	font-weight: 500;
 	color: #9197B3;
 	border-left: 4px solid transparent;
 	border-radius: 5px;
 	align-items: center;
 	gap: 10px;
 }

 .sidebar-menu li a.active,
 .sidebar-menu li a:hover {
 	background-color: #e3e3e382;
 	color: #000;
 	border-left: 4px solid #198754;
 }

 .select2-container--default .select2-results__option--highlighted[aria-selected] {
 	background-color: #198754;
 	color: white;
 }

 .sidebar-menu li {
 	margin-bottom: 5px;
 }

 .sidebar-content {
 	padding: 0 50px;
 }

 .filter-section {
 	margin-bottom: 25px;
 	display: flex;
 	align-items: center;
 	gap: 15px;
 	max-width: 280px;
 	width: 100%;
 }

 .filter-section label {
 	font-weight: 600;
 	color: #1f8d61;
 }

 .select2-container .select2-selection--single {
 	height: 55px;
 	padding: 8px 12px;
 	border: 1px solid #dae0e6;
 	border-radius: 10px;
 }

 .select2-container {
 	width: 100% !important;
 }

 .select2-container--default .select2-selection--single .select2-selection__rendered {
 	line-height: 33px;
 }

 .select2-container--default .select2-selection--single .select2-selection__arrow {
 	height: 26px;
 	top: 14px;
 	right: 8px;
 }

 .table-area .table-container {
 	background: #fff;
 	padding: 20px;
 	border-radius: 16px;
 	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
 	overflow-x: auto;
 }

 .table-area table {
 	width: 100%;
 	border-collapse: collapse;
 	min-width: 1000px;
 }

 .table-area th {
 	background-color: #e9f5ee;
 	color: #1f8d61;
 	padding: 12px 16px;
 	font-weight: 600;
 	text-align: left;
 	border-bottom: 2px solid #d6ede2;
 }

 .table-area td {
 	padding: 12px 16px;
 	border-bottom: 1px solid #eee;
 	color: #333;
 	font-size: 15px;
 }

 .table-area tr:hover {
 	background-color: #f1fdf6;
 }

 .table-area .fa-check {
 	color: #1f8d61;
 	background: #e6f5ec;
 	border-radius: 50%;
 	padding: 5px;
 }

 .pagination {
 	margin-top: 20px;
 	display: flex;
 	justify-content: center;
 	gap: 10px;
 }

 .pagination button {
 	background-color: #1f8d61;
 	color: #fff;
 	border: none;
 	padding: 8px 14px;
 	border-radius: 8px;
 	font-weight: bold;
 	cursor: pointer;
 	transition: 0.2s ease;
 }

 .pagination button:hover {
 	background-color: #15734f;
 }

 .pagination .active {
 	background-color: #0b5b3c;
 }

 .pages-title {
 	margin-bottom: 50px;
 }

 .pages-title h3 {
 	position: relative;
 	margin-bottom: 35px;
 	color: #0b5b3c;
 	font-size: 32px;
 	font-weight: 600;
 	line-height: 40px;
 }

 .pages-title h3::after {
 	content: "";
 	position: absolute;
 	left: 0;
 	bottom: -15px;
 	background: #0b5b3c;
 	width: 200px;
 	height: 4px;

 }

 .pages-title p {
 	color: #252525;
 	font-size: 16px;
 	font-weight: 400;
 	line-height: 22px;
 }

 .action-btn-table button {
 	font-size: 20px;
 }

 .action-btn-table {
 	gap: 5px;
 }

 .compt-title h4 {
 	font-size: 26px;
 	font-weight: 700;
 	margin-bottom: 10px;
 	color: #0b5b3c;
 }

 .text-18 {
 	font-size: 18px;
 }

 .text-20 {
 	font-size: 20px;
 }

 .rotate {
 	transform: rotate(180deg);
 	transition: 0.3s;
 }

 .accordion-toggle.collapsed .rotate {
 	transform: rotate(0);
 }

.menu-accordion-toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.globalDropDownMenu {
	border-left: 4px solid green;
	border-radius: 10px;
	background: #f7f7f77a; 
	border-radius: 0 0 10px 10px;
	margin-top: -9px;
}



 /*======================  End Page  ======================*/